
@{
    ViewData["Title"] = "Success";
}
    <div style="width:70%; margin: auto">
        <center>

            <h2>
                Welcome bedirhan@captchareplay.com,
            </h2>

            <br/>

            <div class="alert alert-success" role="alert">Successfull Login!</div>

        </center>

    </div>